<h2>New project</h2>


<% form_for @project, :url => admin_projects_path do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Create' %> | <%= link_to "Cancel", admin_projects_path %>
  </p>
<% end %>