<h2>Projects</h2>

<% unless @projects.blank? -%>
  <ul id="projects">
    <% @projects.each do |project| -%>
      <li>  
        <h3><%= link_to project.title, project_path(project) %></h3>
        <p><%= truncate(project.description, :length => 30) %></p>
        <p><%= link_to "Visit site", project.url, :rel => 'external' %></p>
      </li>
    <% end -%>
  </ul>
<% end -%>